.carousel {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.carousel-inner {
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  position: relative;
  display: none;
}

.carousel-item.active {
  display: block;
}

.carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  box-sizing: border-box;
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: inherit;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
  font-size: 30px;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}
@media (max-width: 1024px) {

  .carousel-caption {
    font-size: 30px;
  }
}
